/*
h1 {
    text-align: right;
}
h3 {
    text-align: right;
}
*/
header {
    border-bottom: thick solid lightslategray;
}

.logo {
    padding-top: 15px;
}

#main {
    margin-top: 15px;
}


.featured-title {
    color: #7d97ad;
}

.articleInfo {
    color: #2d3c49;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .featured, .featured-title {
    text-align: center;
  }
}


